* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        #myCanvas {
            border: 5px solid lightgreen;
            position: absolute;
            top: 60%;
            left: 50%; //距離左邊半個畫面
            transform: translate(-50%,-50%);//向(x,y)移動自身一半長度
        }
        #myScore {
            margin-top: 1rem;
        }
        #myScore, #myScore2{
            color: #fff;
            font-size: 1.5rem;
            padding: 10px;
        }
        #Start{
            padding: 0.5rem 0.25rem;
            background-color: yellow;
            font-size: 1.15rem;
            display: block;
            margin: 15px;
        }
    }
}